p{
    text-align:center;
    color:red;
    background-color:aqua;
    font-size:25px;
    font-weight:10;

}
h1{
    text-align:center;
    font-size:30px;
    font-weight:35;
}
body{
    background:url(.vscode/about us.webp);
}